*{margin: 0px;}
body{
 
}

main{
    border: 1px solid yellow;
    padding: 10px;
    background-color: #efead7;
    box-sizing: border-box;
    border: 1px solid grey;
    height: 99vh;
    width: 99vw;
    box-sizing: border-box;
    margin-top: 2px;
    margin-left: 2px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

}

header{
    grid-row: 1;
}
.middle{
    grid-row: 2;
    height: 10em;
    width: 10em;
    margin: auto 1rem;
    padding: 10px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu';
    font-size: 50px;
    font-weight: bolder;

}