*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    font-family: Poppins;
    background-color: #efead7;
}

nav{
    display: flex;
    justify-content: space-between;

}
#signup-btn{
    background-color: grey;
}
#signup-btn:hover{
    background-color: white;

}
#login-btn:hover{
    background-color: grey;

}
.btn{
    height: 64px;
    width: 100px;
    margin: 32px 116px;
    border: none;
    font-weight: bold;
    font-size: larger;
    border-radius: 7px;
}

.corner-hr{
    height: 8px;
    width: 700px;
    background-color: black;
    margin-top: 57px;
}
.belowhr{
    margin-left: 340px ;
    position: relative;
    top: 440px;
}
.vertical {
    border-left: 6px solid black;
    height: 380px;
    position:absolute;
     left: -260px; 
  }
   .right-vertical{
  
  left: 780px;
  } 
main {
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.desc{
    box-sizing: border-box;
    position: relative;
    top: 24px;
    left: 24px;
    font-size: 19px;
    width: 877px;
    padding: 24px 12px;

}
a{
    text-decoration: none;
    color: black;
}
.middle{
 
    height: 10em;
    width: 10em;
    margin: auto 1rem;
    padding: 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu';
    font-size: 50px;
    font-weight: bolder;

}